# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Code_Hero.iml
/projectSettingsUpdater.xml
/modules.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\GitKraken\Code_Hero\.idea\.idea.Code_Hero\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
